.msteams-sync-rhs {

  .msteams-linked-channel {

    &__unlink-icon {
      width: 15%;
      display: none;
      
      svg {
        path,rect{
          color: var(--center-channel-color-56);
        }
      }
    }

    &:hover {
      background-color: var(--center-channel-color-08);

      .msteams-linked-channel__unlink-icon {
        display: flex;
        cursor: pointer;

        .mm-icon {
          margin: 0 !important;
        }
      }
    }

    &__link-icon {

      &::before {
        content : "";
        top: 0;
        left: 4px;
        position: relative;
        border-top: 2px solid rgba(var(--center-channel-color-rgb), 0.12);
        border-left: 2px solid rgba(var(--center-channel-color-rgb), 0.12);
        height: 10px;
        width: 10px;
      }

      &::after{
        content : "";
        top: 0;
        left: 4px;
        position: relative;
        border-bottom: 2px solid rgba(var(--center-channel-color-rgb), 0.12);
        border-left: 2px solid rgba(var(--center-channel-color-rgb), 0.12);
        height: 10px;
        width: 10px;
      }
    }

    &__body {
      width: 80%;
    }

    &__body-values {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 35%;
      line-height: normal;
    }  
  }
}
