// display
$display-styles: flex, none, block;

// margins, paddings and gaps
$sizes: 0, 4, 6, 8, 10, 12, 16, 18, 24, 20, 30, 32, 40, auto;

// font weights
$font-weights: 300, 400, 500, 600, 700, 800;

// line height
$line-heights: 14, 16, 20, 24, 28;

// positions
$positions: absolute, fixed, relative;

// font sizes
$font-sizes: 10, 12, 14, 16, 18, 20, 22, 25, 28, 30, 32, 42, 48;
