.EnforceConnectedAccountModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: var(--center-channel-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EnforceConnectedAccountModal img {
    width: 128px;
    height: 128px;
}

.EnforceConnectedAccountModal .btn {
    margin: 10px;
}

.EnforceConnectedAccountModal .skipLink {
    margin-top: 5px;
    font-size: 12px;
}

.EnforceConnectedAccountModal .connectMessage {
    font-size: 18px;
}
