.msteams-sync-rhs {
    display: flex;
    flex-direction: column;
    height: calc(100% - 63px);

    .rhs-connect {
        border: 1px solid #F7434329;
        border-radius: 5px;
        background: #FBF0F0;
        padding: 10px;
        margin: 15px;

        &__heading {
            display: flex;
        }

        &__icon {
            padding-left: 5px;
            position: absolute;
        }
        
        &__body {
            padding: 0 8px 0 40px;
            width: 100%;
        }

        &__title {
            font-weight: 600;
            size: 14px;
            padding-bottom: 5px;
        }

        &__connect-button {
            margin-top: 10px;
        }
    }

    .rhs-disconnect {
        display: flex;
        flex-direction: column;
        margin: 15px;
    
        &__heading {
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 3px;
        }
    
        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__sub-body {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    
        &__disconnect-button {
            color: #D92445 !important;
            width: 105px !important;
            height: 30px !important;
            border: 1px solid #D92445 !important;
        }
    
        &__disconnect-button:hover {
            background-color: #d81c3f !important;
            color: white !important;
            border: 1px solid #D92445 !important;
        }
    }

    .rhs-body-container {
        display: flex;
        flex-direction: column;
        height: 65%;
        flex: 1;
    }

    .rhs-body {
        padding: 15px 15px 15px 15px;
        border-top: 1px solid #EBEBEB;
        height: 65%;
        flex: 1;

        &__title {
            font-weight: 600;
            font-size: 16px;
            padding: 10px 10px 3px 10px;
        }

        &__subtitle {
            padding: 0 10px 10px 10px;
            font-size: 13px;
            margin-bottom: 5px;
        }

        &__spinner {
            width: 100% !important;
            padding-top: 30%;
        }

        .link-data {
            padding-top: 10px;
            margin-bottom: 20px;
            flex-direction: row;
            justify-content: center;
            display: flex;
            align-items: center;
            flex: 1;

            &__title {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3%;
                margin: 10px 0 10px 10px;
            }

            &__title-values {
                font-weight: 600;
                font-size: 13px;
                width: 50%;
                color: #B1B3B8;
            }

            &__mm-icons {
                color: #1C58D9;
                padding-top: 3px;
            }
    
            &__ms-icon {
                width: 12%;
                margin-right: 2px;
            }

            &__container {
                display: flex;
                flex-direction: column;
                padding: 10px;
                height: 70%;
            }

            &__container-values {
                height: 100%;
                overflow-y: auto;
                padding-right: 10px;

                .infinite-scroll-component__outerdiv {
                    .infinite-scroll-component  {
                        overflow: hidden !important;
                    }
                }
            }

            &__spinner {
                width: 100% !important;
            }
            
            &__body {
                width: 70%;
            }

            &__channel-name, &__team-name {
                white-space: nowrap;
                padding-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__channel-name {
                font-weight: 500;
                font-size: 14px; 
            }

            &__team-name {
                font-weight: 400;
                font-size: 14px;
                color: #8C8F96;
            }

            &__mm-values, &__ms-values {
                gap: 10px;
                width: 40%;
                display: flex;
                align-items: start;
                flex: 1;
            }

            &__ms-values {
                .msteams-private-channel-icon {
                    width: 16px;
                    height: 16px;
                    margin-top: 5px;
                }
            }
        }

        .channel-link-icon {
            display: flex;
            justify-content: center;
            width: 10%;
        }

        .channel-unlink-icon {
            width: 10%;
            display: flex;
            justify-content: flex-end;

            :hover {
                background: #E8E8EA;
                cursor: pointer;
            }
        }

        .no-link {
            text-align: center;
            margin-top: 60px;

            &__title {
                font-weight: 600;
                size: 20px;
                padding: 15px 0;
            }
        }
    }

    .rhs-footer {
        border-top: 1px solid #EBEBEB;

        &__link-btn {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            border-radius: 4px;
            margin: 10px 20px;
        }
    }
}

// TODO: temporary class, remove after mm ui library fix
.disconnect-dialog {
    opacity: 1;
}
