.msteams-sync-rhs {

    .scroll-container {
        height: 100%;
        overflow-y: auto;
    
        .infinite-scroll-component__outerdiv {
            .infinite-scroll-component {
                overflow: hidden !important;
            }
        }

        &__spinner {
            width: 100% !important;
        }
    }
}

.msteams-sync-modal {
    .mm-autocomplete {
        .mm-menuItem {
            &__secondary-label {
                text-align: end;
            }
        }
    }
}
